/*Todo: Questionnaire */
.carousel-indicators-numbers li {

    text-indent: 0;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    line-height: 30px;
    color: #707070;
}

.carousel-indicators-numbers .active {
    color: #D80010;
}

.carousel input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
}

.carousel input[type="radio"]:checked {
    background-color: #D80010;
}


.carousel input[type=radio]:checked ~ .check {
    border: 5px solid #D80010;
}

.carousel input[type=radio]:checked ~ .check::before {
    background: #D80010;
}

.carousel input[type=radio]:checked ~ span {
    color: #D80010;
}


.carru-questionnaire ul {
    margin-left: 12%;
    margin-right: 12%;

}

.carru-questionnaire {
    padding: 50px;
}

.carru-questionnaire .carousel-control-prev span {
    margin-bottom: 0;
}

div#control-carousel {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    position: relative;
}

.info-question-user {
    background-color: #eee;
}
