/* Set the background color of body to tan */
body {
    background-color: white;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    #logo-esteve {
        width: 40%;
    }

    #pop-pup {
        width: 100%;
        right: 0;
    }

    #pre-nav h6 {
        padding-top: 0.1em !important;
    }

}