body {
    font-family: 'Roboto', sans-serif;
}

.fnt-ptserif {
    font-family: 'PT Serif', serif;
}

.color-1 {
    color: #D80010;
}

.main {
    position: relative;
}

.logo-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 160px;
}

.topbar {
    height: 30px;
    background: #575756;
}

.banner {
    margin-top: 50px;
    background: rgb(38, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(38, 0, 0, 1) 0%, rgba(159, 28, 27, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(38, 0, 0, 1) 0%, rgba(159, 28, 27, 1) 100%);
    background: linear-gradient(90deg, rgba(38, 0, 0, 1) 0%, rgba(159, 28, 27, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#260000", endColorstr="#9f1c1b", GradientType=1);
}

.title h1 {
    font-size: 2.8em;
}

.footer {
    margin-top: 80px;
}

.footer a {
    color: currentColor;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: bold;
}

/*TODO: header*/
#logo-esteve {
    position: absolute;
    top: 0;
    z-index: 9;
}

#pre-nav {
    top: 0;
    position: absolute;
    height: 25px;
    background-color: #707070;
    text-align: right;
}

.nav-link {
    font-weight: bold;
    font-size: 1.1em;
}

.nav-link:hover {
    color: #D80010 !important;
}

.active {
    color: #D80010 !important;
}


/*Todo: login */
#login-opina {
    background-color: #eee;

}

#login-opina form[name='login'] input, #block-login-user input, #block-login-user select {
    height: 60px;

}

#login-opina form[name='login'] button, #login-opina #btn-new-user, #btn-code-verificate {
    border-radius: 30px;
}

#login-opina #btn-new-user, #btn-code-verificate {
    background: white;
    color: #D80010;
    border: solid 1px #D80010;
}

#login-opina #btn-new-user:hover {
    color: white;
    background-color: #D80010;
    border: solid 1px #D80010;
}

#login-opina form[name='login'] button:hover {
    color: #D80010;
    background-color: white;
    border: solid 1px #D80010;
}

#btn-code-verificate:hover {
    color: white;
    background: #D80010 !important;
}


/*TODO class */

.letter-red {
    color: #D80010;
    font-weight: bold;
    font-size: 1.4em;
}

.letter-grey {
    color: #707070;
}

/*Todo HOME */

/*new user*/
#section-new-user {
    background-color: #eee;
}


#block-home #block-home-2 img {
    width: 100%;
    margin-top: 10px;
}

#block-home #block-home-2 .btn-questionnaire-home, .btn-users-invitation {
    width: 95%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 15px;
    margin: auto;
    background-color: #D80010;
}

#block-home #block-home-2 .btn-questionnaire-home:hover {
    background-color: initial;
    color: #D80010;
}

.btn-users-invitation:hover {
    background-color: initial;
    color: #D80010;
}

#block-home #block-home-2 span {
    font-size: 1.2em;
    font-weight: bold;
    color: #D80010;
}

#block-home .btn-article {
    background-color: white;
    color: #D80010;
    border-radius: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: solid 2px #D80010;;
}

#block-home .btn-article:hover {
    background-color: #D80010;
    color: white;
}

#pop-pup {
    display: none;
    position: absolute;
    z-index: 9;
    width: 60%;
    right: 20%;
}

#btn-code-em {
    border-radius: 30px;
    background-color: white;
    color: #D80010;
}

#btn-code-em:hover {
    background-color: #D80010;
    color: white;
}

/*todo: registro*/

#register-alumno input, #register-alumno select {
    height: 60px;
}

#btn-user-new {
    border-radius: 30px;
}

#btn-user-new:hover {
    background: white;
    color: #D80010;
}

/*todo form recover-pass*/
#btn-init-session{
    border:solid 1px #D80010;
    background: #D80010;
    color: white;
    padding: 8px;
    margin-right: 3px;
    text-decoration: none;
}

#btn-recover-pass, #btn-init-session {
    border-radius: 30px !important;
}

#btn-recover-pass:hover {
    background: white;
    color: red;
}

#btn-init-session:hover {
    background: white;
    color: red;
}