
body{
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
a {

}
a:hover, a:active, a:focus {

}
img {
    max-width: 100%;;
}
.logo {
    padding: 30px 0;
}
.logo img {
    max-width: 200px;
}
.preguntas {
    padding-bottom: 60px;
}
.pregunta {
    line-height: 1.2em;
    border-top: 1px solid #3F788E;
    padding: 10px 0;
}
.pregunta p, .login p {
    margin-bottom: 5px;
}
h1 {
    color: #3F788E;
    font-size: 1.2em;
}
h2 {
    color: #3DA971;
    font-size: 1.1em;
}
.heart span {
    font-size: 2.3em;
    color: #3DA971;
    cursor: pointer;
}
.bottom-nav {
    align-items: center;
    background: rgba(66,120,142,0.7);
    border-top: 1px solid #ebe8e4;
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: space-around;
    left: 0;
    margin: 0 auto;
    max-width: 480px;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1000;
}
nav.bottom-nav a {
    align-items: center;
    color: #fff;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}
nav.bottom-nav a:first-child {
    border-right: 2px solid #FFF;
}
nav.bottom-nav a:last-child {
    border-left: 2px solid #FFF;
}
nav.bottom-nav a.selected, nav.bottom-nav a:hover {
    background: #3F788E;
}